<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvar Dados</title> <!-- O título agora é fixo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Salvar Dados</h1>

        <!-- Formulário para salvar os dados -->
        <form action="/salvar" method="post">
            <label for="nome">Email:</label>
            <input type="text" id="nome" name="nome" required>

            <input type="hidden" name="imc" value="{{ imc }}">
            <input type="hidden" name="classificacao" value="{{ classificacao }}">

            <button type="submit">Salvar Dados</button>
        </form>

        <br>
        <a href="/" class="btn">Calcular novamente</a>
    </div>
</body>
</html>
